<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrapper">
    <ul class="footer-navigation">
      <li class="footer-link">
        <a class="footer-underline"  href="/policy.html">Privacy Policy</a>
        <p class="footer-span">|</p>
      </li>
      <li class="footer-link">
        <a class="footer-underline" target="_blank" href="policy/terms.pdf">Terms of Use</a>
        <p class="footer-span">|</p>
      </li>

      <li class="footer-link">
        <a class="footer-underline" target="_blank" href="policy/cookies.pdf">Cookies</a>
      </li>
    </ul>
    <ul class="footer-menu-list">
      <li><a class="footer-menu-list-item" href="index.html#Home">Home</a></li>
      <li><a class="footer-menu-list-item" href="index.html#Features">Features</a></li>
      <li>
        <a class="footer-menu-list-item" href="index.html#Download">Download</a>
      </li>
      <li><a class="footer-menu-list-item" href="index.html#Reviews">Reviews</a></li>
      <li><a class="footer-menu-list-item" href="index.html#Contact">Contact</a></li>
      </ul>
    </div>
    <div class="last-footer-wrapper">
    <p class="footer-text">1.2.0 | Updated: April 9, 2025 | Requires Android 7.0+</p>
    <p class="footer-text">© 2025 Dynasty Speedy Blitz. All Rights Reserved.</p>
    <div class="icons-wrapper">
      <a class="footer-icon" href="https://www.facebook.com/">
        <svg class="footer-svg" width="24" height="24">
        <use href="/img/sprite.svg#icon-facebook"></use>
      </svg>
    </a>
    <a class="footer-icon" href="https://x.com/">
      <svg class="footer-svg" width="24" height="24">
        <use href="/img/sprite.svg#icon-twitter"></use>
      </svg>
    </a>
    <a class="footer-icon" href="https://www.instagram.com/">
      <svg class="footer-svg" width="24" height="24">
        <use href="/img/sprite.svg#icon-instagram"></use>
      </svg>
    </a>
    <a class="footer-icon" href="mailto:info@dynastyspeedyblitz.com">
      <svg class="footer-svg" width="24" height="24">
        <use href="/img/sprite.svg#icon-email"></use>
      </svg>
    </a>
</div>
    </div>
  </div>
</footer>