<header class="header" id="site-header">
  <div class="header-container container">
    <button type="button" class="menu-button" aria-label="menu toggle">
      <span class="icon">
        <svg width="36" height="30" viewBox="0 0 36 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M32 9L12 9" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M32 15L5 15" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M32 21L12 21" stroke="white" stroke-linecap="round" stroke-linejoin="round" />  </svg>
      </span>
    </button>
    <nav class="nav ">
      <ul class="navigation-list">
        <li class="navigation-item">
          <a class="links" href="index.html#Home">Home</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Features">Features</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Play">How to Play</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Download">Download</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Reviews">Reviews</a>
        </li>
        <li class="navigation-item">
          <a class="links" href="index.html#Contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
  <ul class="menu-list">
    <li><a class="menu-list-item" href="index.html#Home">Home</a></li>
    <li><a class="menu-list-item" href="index.html#Features">Features</a></li>
        <li><a class="menu-list-item" href="index.html#Play">How to Play</a></li>
    <li>
      <a class="menu-list-item" href="index.html#Download">Download</a>
    </li>
    <li><a class="menu-list-item" href="index.html#Reviews">Reviews</a></li>
    <li><a class="menu-list-item" href="index.html#Contact">Contact</a></li>

  </ul>
</div>