<!-- Home -->
 <section class="home-section">
    <div class="container hero-container">
        <h1 class="visually-hidden">Triple Tap 3D</h1>
        <div class="hero-text-wrapper">
            <p>Triple the Fun.</p>
            <p class="hero-text-two">Triple the Challenge.</p>
            <p>Triple the Match!</p>
        </div>
        <img class="hero-mob-img" src="/img/hero/mob.png" alt="Penguin" loading="lazy">
        <img class="hero-desk-img" src="/img/hero/desk.png" alt="Triple Tap 3D">
        <p class="hero-text">Play Crazy Match! Triple Tap 3D – the ultimate brain-boosting puzzle game loved by 500,000+ players.</p>
    </div>
 </section>
 <!-- What is Crazy Match! Triple Tap 3D? -->
  <article class="crazy-section">
    <div class="container">
        <h2 class="crazy-title">What is Crazy Match! Triple Tap 3D?</h2>
        <div class="crazy-wrapper">
        <picture>
            <source srcset="
            /img/crazy/desk.png  1x,
            /img/crazy/desk@2x.png 2x
                 " media="(min-width: 1439px)" />
            <source srcset="
            /img/crazy/mob.png 1x,
            /img/crazy/mob@2x.png 2x
                  " media="(max-width: 1438px)" />
            <img class="crazy-img" src="/img/crazy/mob.png" alt="Crazy Match" loading="lazy" />
        </picture>
        <p class="crazy-text">A thrilling 3D puzzle adventure where you match, sort, and organize triple tiles in a vibrant virtual world. Whether
        it’s groceries, goods, or gadgets – your job is to tap and clear the board. With dynamic challenges, timed levels, and
        powerful boosters, every round brings a new kind of brain-teasing fun.</p>
    </div>
    </div>
  </article>
  <!-- Why You’ll Love Crazy Match -->
   <section class="love-section">
    <div class="container">
        <h2 class="love-title">Why You’ll Love Crazy Match</h2>
        <ul class="love-list">
            <li class="love-item">Fun brain-training missions</li>
            <li class="love-item">Thousands of unique 3D puzzles</li>
            <li class="love-item">Timed challenges and objectives</li>
            <li class="love-item">Play online or offline – totally free</li>
            <li class="love-item love-item-big">Helpful boosters and power-ups</li>
            <li class="love-item love-item-big">Weekly content updates and new levels</li>
            <li class="love-item love-item-big">Easy to learn, hard to master</li>
        </ul>
    </div>
   </section>