<!-- Home -->
 <section class="home-section">
    <div class="container hero-container">
        <h1 class="visually-hidden">Triple Tap 3D</h1>
        <div class="hero-text-wrapper">
            <p>Triple the Fun.</p>
            <p class="hero-text-two">Triple the Challenge.</p>
            <p>Triple the Match!</p>
        </div>
        <img class="hero-mob-img" src="/img/hero/mob.png" alt="Penguin" loading="lazy">
        <img class="hero-desk-img" src="/img/hero/desk.png" alt="Triple Tap 3D">
        <p class="hero-text">Play Crazy Match! Triple Tap 3D – the ultimate brain-boosting puzzle game loved by 500,000+ players.</p>
    </div>
 </section>
 <!-- What is Crazy Match! Triple Tap 3D? -->
  <article class="crazy-section">
    <div class="container">
        <h2 class="crazy-title">What is Crazy Match! Triple Tap 3D?</h2>
        <div class="crazy-wrapper">
        <picture>
            <source srcset="
            /img/crazy/desk.png  1x,
            /img/crazy/desk@2x.png 2x
                 " media="(min-width: 1439px)" />
            <source srcset="
            /img/crazy/mob.png 1x,
            /img/crazy/mob@2x.png 2x
                  " media="(max-width: 1438px)" />
            <img class="crazy-img" src="/img/crazy/mob.png" alt="Triple Tap 3D" loading="lazy" />
        </picture>
        <p class="crazy-text">A thrilling 3D puzzle adventure where you match, sort, and organize triple tiles in a vibrant virtual world. Whether
        it’s groceries, goods, or gadgets – your job is to tap and clear the board. With dynamic challenges, timed levels, and
        powerful boosters, every round brings a new kind of brain-teasing fun.</p>
    </div>
    </div>
  </article>
  <!-- Why You’ll Love Crazy Match -->
   <section class="love-section">
    <div class="container">
        <h2 class="love-title">Why You’ll Love Crazy Match</h2>
        <ul class="love-list">
            <li class="love-item">Fun brain-training missions</li>
            <li class="love-item">Thousands of unique 3D puzzles</li>
            <li class="love-item">Timed challenges and objectives</li>
            <li class="love-item">Play online or offline – totally free</li>
            <li class="love-item love-item-big">Helpful boosters and power-ups</li>
            <li class="love-item love-item-big">Weekly content updates and new levels</li>
            <li class="love-item love-item-big">Easy to learn, hard to master</li>
        </ul>
    </div>
   </section>
   <!-- Master the Triple Tap in Minutes -->
<section class="master-section">
    <div class="container">
        <h2 class="master-title">Master the Triple Tap in Minutes</h2>
        <ul class="master-list">
            <li class="master-item">
                <div class="number-container"><p>1</p></div>
<p class="master-text">Tap on 3 matching tiles to collect them.</p>
            </li>
            <li class="master-item">
                <div class="number-container"><p>2</p></div>
                <p class="master-text">Sort the objects into the columns below.</p>
            </li>
            <li class="master-item">
                <div class="number-container"><p>3</p></div>
                <p class="master-text">Clear the board before time runs out.</p>
            </li>
            <li class="master-item">
                <div class="number-container"><p>4</p></div>
                <p class="master-text">Use Boosters like shuffles and hints to overcome tricky levels.</p>
            </li>
        </ul>
    </div>
</section>
<!-- Perfect for Every Puzzle Lover -->
<section class="perfect-section">
    <div class="container">
        <h2 class="perfect-title">Perfect for Every Puzzle Lover</h2>
        <div class="perfect-wrapper">
            <picture class="perfect-img-container">
                <source srcset="
                /img/perfect/desk.png  1x,
                /img/perfect/desk@2x.png 2x
               " media="(min-width: 1439px)" />
                <source srcset="
                /img/perfect/mob.png 1x,
                /img/perfect/mob@2x.png 2x
                 " media="(max-width: 1438px)" />
                <img class="perfect-img" src="/img/perfect/mob.png" alt="Triple Tap 3D" loading="lazy" />
                </picture>
            <p class="perfect-text">Whether you’re into Mahjong, Match 3 games, or brain-training apps – Crazy Match 3D brings the best of all worlds into a
            single, refreshing puzzle experience. Great for kids, adults, or anyone who loves a satisfying challenge.</p>
        </div>
    </div>
</section>
<!-- Ready to Match Like a Master? -->
<section class="ready-section">
    <div class="container ready-container">
        <h2 class="ready-title">Ready to Match Like a Master?</h2>
        <p class="ready-text-one">Join over 500,000 players worldwide and test your puzzle-solving skills in 3D!</p>
        <img class="ready-img-one ready-img" src="/img/ready/egg-one.png" alt="Egg" width="103" height="89" loading="lazy">
        <img class="ready-img-two ready-img" src="/img/ready/egg-two.png" alt="Egg" width="103" height="89" loading="lazy">
        <img class="ready-img-three ready-img" src="/img/ready/egg-three.png" alt="Egg" width="103" height="89" loading="lazy">
        <img class="ready-img-four ready-img" src="/img/ready/penguin.png" alt="Penguin" width="209" height="278" loading="lazy">
        <p class="ready-text-two">Play Offline – No Wi-Fi Needed</p>
    </div>
</section>
<!-- Game Preview -->
<section class="game-section">
    <div class="container">
        <h2 class="game-title">Game Preview</h2>
        <p class="game-text">Explore the colorful, satisfying world of Crazy Match.</p>
        <div class="swiper game-swiper">
            <div class="swiper-wrapper game-swiper-wrapper">
                <div class="swiper-slide game-swiper-slide">
                    <img class="game-img" src="/img/game/one.png"
                        srcset="/img/game/one.png 1x, /img/game/one@2x.png 2x" alt="Triple Tap 3D" loading="lazy" />
                </div> 
                <div class="swiper-slide game-swiper-slide">
                    <img class="game-img" src="/img/game/four.png" srcset="/img/game/four.png 1x, /img/game/four@2x.png 2x"
                        alt="Triple Tap 3D" loading="lazy" />
                </div>
                  <div class="swiper-slide game-swiper-slide">
                    <img class="game-img" src="/img/game/five.png" srcset="/img/game/five.png 1x, /img/game/five@2x.png 2x"
                        alt="Triple Tap 3D" loading="lazy" />
                </div>
                <div class="swiper-slide game-swiper-slide">
                    <img class="game-img" src="/img/game/three.png" srcset="/img/game/three.png 1x, /img/game/three@2x.png 2x"
                        alt="Triple Tap 3D" loading="lazy" />
                </div>                              
                <div class="swiper-slide game-swiper-slide">
                    <img class="game-img" src="/img/game/two.png" srcset="/img/game/two.png 1x, /img/game/two@2x.png 2x"
                        alt="Triple Tap 3D" loading="lazy" />
                </div>
            </div>
        </div>

        <div class="custom-navigation game-nav">
            <button class="custom-arrow custom-prev" aria-label="Previous slide">
                <img class="arrow" src="/img/game/left.png" alt="Arrow Left" width="64" height="64">
            </button>
            <button class="custom-arrow custom-next" aria-label="Next slide">
                <img class="arrow" src="/img/game/right.png" alt="Arrow Left" width="64" height="64">
            </button>
        </div>
    </div>
</section>
<!-- Unlock Your Inner Puzzle Pro -->
<section class="pro-section">
    <div class="container pro-container">
        <h2 class="pro-title">Unlock Your Inner Puzzle Pro</h2>
        <p class="pro-text">Use boosters to mix, match, and maneuver tricky tile sets. From shuffles to magnifiers, these power-ups help you find
        hidden objects and finish every level strong.</p>
        <img class="pro-img-mob-one pro-img-mob" src="/img/pro/pumpkin-one-mob.png" alt="Pumpkin">
        <img class="pro-img-mob-two pro-img-mob" src="/img/pro/pumpkin-right-mob.png" alt="Pumpkin">
        <img class="pro-img-desk-one pro-img-desk" src="/img/pro/pumpkin-one-desk.png" alt="Pumpkin">
        <img class="pro-img-desk-two pro-img-desk" src="/img/pro/pumpkin-two-desk.png" alt="Pumpkin">
    </div>
</section>