.footer-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.footer-link{
  cursor: pointer;
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 16px;
}
.footer-menu-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  font-size: 16px;
}
.footer-menu-list-item{
  cursor: pointer;
}
.last-footer-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;
}
.icons-wrapper{
  display: flex;
  gap: 24px;
}
.footer-icon{
  cursor: pointer;
}
.footer-span{
  display: none;
}
@media only screen and (min-width: 1439px) {
  .footer-container{
    padding-top: 140px;
    padding-bottom: 40px;
  }
  .footer-navigation{
    flex-direction: row;
    font-size: 20px;
    font-weight: 400;
  }
  .footer-link{
    display: flex;
    gap: 16px;
  }
  .footer-span{
    display: block;
  }
  .footer-menu-list{
    flex-direction: row;
      font-size: 20px;
      font-weight: 400;
      gap: 30px;
  }
  .footer-wrapper{
    margin-bottom: 76px;
  }
  .last-footer-wrapper{
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
      font-size: 20px;
      align-items: center;
  }
}