.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  height: 100px;
  width: 100%;
  z-index: 1003;
}

.header-container {
  padding: 22px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
  border: none;
  margin-right: 0;
  margin-left: auto;
  width: 48px;
  height: 48px;
  cursor: pointer;
margin-top: 16px;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
  background-image: url("/img/hero/hero-mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 740px;
  width: 374px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px 110px;
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 24px;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24);
  gap: 30px;
  margin-top: 180px;
}

.menu-list-item {
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  .header-container {
    padding: 24px 300px 0 380px;
  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    gap: 30px;
    font-weight: 400;
      font-size: 20px;
  }

  .navigation-item {
    cursor: pointer;
  }
}